beautifulsoup4 
Brotli==1.0.9
brotlipy==0.7.0
bs4==0.0.1
dash==2.6.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
geographiclib==1.52
geojson==2.5.0
geopandas==0.11.1
geopy==2.2.0
html5lib==1.1
lxml
numpy 
pandas 
plotly==5.10.0
plotly-express==0.4.1
requests
